<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/public/feed.css" />
    <link rel="shortcut icon" href="/public/favicon.ico" />
</head>

<body>
    
    <br>
    <div id="inline">
        <br>
        <form action="/feed" method="get"> <!-- вызов события /feed -->
            <button id="send"><%=button%></button>
        </form>

        <!-- <h4><%=heading%></h4> -->
        
        <form action="/sort-est1" method="get"> <!-- Сортировка 1 -->
            <button id="sort-est1">Наивысшая оценка</button>
        </form>

        <form action="/sort-est2" method="get"> <!-- Сортировка 2 -->
            <button id="sort-est2">Наименьшая оценка</button>
        </form>

        <table>
            <tr>
                <th>Дата</th>
                <th>Время</th>
                <th>Имя</th>
                <th>Отзыв</th>
                <th>Оценка</th>
            </tr>
            <% for (let feed of feeds) {%>
            <tr>
                <td class="name"><%=feed.date%></td>
                <td class="name"><%=feed.time%></td>
                <td class="feed"><%=feed.name%></td>
                <td class="time"><%=feed.feed%></td>
                <td class="estimation"><%=feed.estimation%></td>
            </tr>
            <%} %>
        </table>
        <br>
        <!-- <button id="sort-time"><%=button%></button> -->
        <!-- <button id="sort-date/time"><%=button%></button> -->
    </div>

</body>
</html>


<!-- <tr>
    <th>Дата/Время</th>
    <th>Имя</th>
    <th>Отзыв</th>
</tr>
<% for (let feed of feeds) {%>
<tr>
    <td class="name"><%=feed.date_time%></td>
    <td class="name"><%=feed.name%></td>
    <td class="feed"><%=feed.feed%></td>
</tr>
<%} %> -->